* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 20px 10px;
	background-color: #481404;
}

body {
	overflow-x: hidden;
}

h2,
h3,
h4 {
	font-weight: 600;
	line-height: 1.8rem;
	margin-bottom: 1rem;
	color: white;
}

p {
	line-height: 1.5rem;
	font-family: "Times New Roman", Times, serif;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	color: white;
}

.logo {
	height: 70px;
	width: 70px;
}

.hero {
	position: relative;
	width: 100%;
	max-width: 1300px;
	min-height: 75vh;
	margin: 0 auto;
	overflow: hidden;
}

.background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero h2,
.hero p {
	position: relative;
	font-size: 3rem;
	text-align: left;
	padding-left: 60px;
	padding-top: 50px;
	color: white;
}

header {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

/*Navigationen högst upp på sidan.*/
.hamburger {
	display: none;
	font-size: 2rem;
	cursor: pointer;
	color: white;
	user-select: none;
	padding: 10px;
}

.menu-toggle {
	display: none;
}

.nav {
	display: flex;
	align-items: center;
	gap: 8px;
}

/*Detta är för att stilsätta hur länkarna ska ut när man till exempel håller över de, klickar på de och dylikt.*/
header a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: #481404;
	border: #740606 2px solid;
	padding: 12px 12px;
}

header a:hover {
	background-color: #b63209;
	color: rgb(255, 255, 255);
}

/*Stilsättning för navigationen längst ner.*/
.second-nav ul {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 4px 12px;
	list-style-type: none;
}

.second-nav a {
	color: white;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
}

.second-nav a:hover {
	background-color: #b63209;
	border-radius: 40px;
	padding: 8px 8px;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: 1300px;

}

.information-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 10px;
	background-color: #360101;
	border: 2px solid #740606;
	box-shadow: 4px 4px 8px #740606;
}

.information-title {
	text-align: center;
	color: rgb(255, 255, 255);
	padding-bottom: 30px;
}

.information-text-2,
.information-text-3 {
	display: grid;
	align-items: center;
	text-align: center;
	padding: 10px;
	background-color: #360101;
	border: 2px solid #740606;
	box-shadow: 4px 4px 8px #740606;
}

.presentation {
	justify-self: center;
	width: 375px;
	height: 375px;
}

.produkt-information {
	align-items: center;
	text-align: start;
	padding: 20px;
	background-color: #360101;
	border: 2px solid #740606;
	box-shadow: 4px 4px 8px #740606;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	padding: 20px;
	color: white;
	background-color: #360101;
}

.form input {
	padding: 15px;
	border-radius: 8px;
	border: none;
	width: 45%;
}

.form textarea {
	padding: 12px;
	border-radius: 12px;
	border: none;
	width: 100%;
	max-width: 500px;
	min-height: 150px;
}

/* Produkter och tjänster */
.main-produkter,
.main-tjanster {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	padding: 20px;
	border-radius: 40px;
	background-color: #360101;
	align-items: stretch;
}

.cards-produkter,
.cards-tjanster {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	padding: 16px;
	background-color: #481404;
	border: 2px solid #740606;
	border-radius: 8px;
	box-shadow: 0 4px 8px #740606;
	position: relative;
	transition:
		top 0.3s ease,
		box-shadow 0.3s ease;
	height: 100%;
}

.cards-produkter,
.cards-tjanster button {
	margin-top: auto;
}

.cards-produkter:hover,
.cards-tjanster:hover {
	top: -10px;
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.cards-produkter .ingress,
.cards-tjanster .ingress {
	font-weight: bold;
}

/*Knappar */
button {
	font-size: 15px;
	padding: 10px;
	border-radius: 8px;
	background-color: #b63209;
	color: white;
	cursor: pointer;
	border: 2px solid #9b3212;
}

button a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

button:hover {
	background-color: #cc6a4c;
	color: black;
}

.newsletter {
	height: 300px;
	width: 100%;
	max-width: 1300px;
	background-color: #360101;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
	margin: 0 auto;
	justify-content: center;
	gap: 16px;
	border: 2px solid #740606;
	box-shadow: 4px 4px 8px #740606;
}

.newsletter h3 {
	margin: 0;
	font-size: 1.4rem;
}

.newsletter p {
	margin: 0;
	font-size: 1.2rem;
}

.newsletter form {
	display: flex;
	justify-content: center;
}

.newsletter input[type="email"] {
	padding: 10px;
	margin-right: 10px;
}

.newsletter button {
	padding: 10px 10px;
	font-family: "Times New Roman", Times, serif;
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "kont meny info map";
	background-color: #360101;
	grid-area: foot;
	min-height: 100px;
	padding: 20px;
	line-height: 1.5;
	align-items: start;
}

.footer h2 {
	text-decoration: underline;
}

.footer p {
	margin-bottom: 1rem;
}

iframe {
	width: 100%;
	height: 300px;
	border: none;
}

.information {
	grid-area: kont;
}

.information-2 {
	grid-area: meny;
	display: flex;
	flex-direction: column;
}

.information-3 {
	grid-area: info;
}

.information-4 {
	grid-area: map;
}

.footer p {
	font-style: italic;
}

footer a {
	color: white;
	font-weight: bold;
}

@media (max-width: 1200px) {
	.wrapper {
		width: 100%;
		max-width: none;
		padding: 10px;
	}
}

/* Media query för 900px */
@media (max-width: 900px) {
	.main-produkter,
	.main-tjanster {
		grid-template-columns: repeat(2, 1fr);
	}
	.information-text {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.footer {
		display: grid;
		gap: 1rem;
		grid-template-areas:
			"kont meny "
			"info map";
		grid-template-columns: 1fr;
	}
}

@media (max-width: 600px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px 20px;
	}

	.nav {
		display: none;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		margin-top: 10px;
		background-color: #360101;
		padding: 10px;
		border-radius: 8px;
	}

	.menu-toggle:checked + .hamburger + .nav {
		display: flex;
	}

	.hamburger {
		display: block;
		font-size: 2rem;
		cursor: pointer;
		color: white;
		user-select: none;
	}
	.hero {
		height: 30vh;
	}
	.hero h2 {
		font-size: 2rem;
		margin-bottom: 15px;
	}

	.hero p {
		font-size: 1rem;
	}

	.main-produkter,
	.main-tjanster {
		grid-template-columns: 1fr;
	}

	.footer {
		display: grid;
		gap: 1rem;
		grid-template-areas:
			"kont"
			"meny"
			"info"
			"map";
		grid-template-columns: 1fr;
	}
}
